@import "~react-awesome-slider/src/core/styles.scss";

.#{$root-element} {
  &--cubeAnimation {
    .#{$root-element} {
      @media (min-width: 768px) {
        // in down
        &--moveRight {
          transform-origin: 50% 0%;
          animation: cubeUpIn var(--cube-animation-duration) both
            var(--cube-animation-ease-in);
        }

        // in up
        &--moveLeft {
          transform-origin: 50% 100%;
          animation: cubeDownIn var(--cube-animation-duration) both
            var(--cube-animation-ease-in);
        }

        &--exit {
          // out up
          &.#{$root-element}--moveLeft {
            transform-origin: 50% 100%;
            animation: cubeUpOut var(--cube-animation-duration) both
              var(--cube-animation-ease-in);
          }
          // out down
          &.#{$root-element}--moveRight {
            transform-origin: 50% 0%;
            animation: cubeDownOut var(--cube-animation-duration) both
              var(--cube-animation-ease-in);
          }
        }
      }
    }
  }
}

@keyframes cubeUpOut {
  50% {
    animation-timing-function: var(--cube-animation-ease-out);
    transform: translateY(-50%) translateZ(var(--cube-translateZ-distance))
      rotateX(45deg);
  }
  100% {
    transform: translateY(-100%) rotateX(90deg);
  }
}
// good
@keyframes cubeDownOut {
  50% {
    animation-timing-function: var(--cube-animation-ease-out);
    transform: translateY(50%) translateZ(var(--cube-translateZ-distance))
      rotateX(-45deg);
  }
  100% {
    transform: translateY(100%) rotateX(-90deg);
  }
}

@keyframes cubeUpIn {
  0% {
    transform: translateY(100%) rotateX(90deg);
  }
  50% {
    animation-timing-function: var(--cube-animation-ease-out);
    transform: translateY(50%) translateZ(var(--cube-translateZ-distance))
      rotateX(-45deg);
  }
}

// good
@keyframes cubeDownIn {
  0% {
    transform: translateY(-100%) rotateX(90deg);
  }
  50% {
    animation-timing-function: var(--cube-animation-ease-out);
    transform: translateY(-50%) translateZ(var(--cube-translateZ-distance))
      rotateX(45deg);
  }
}
