:root {
  --color-primary: #ed8936;
  --color-secondary: #4a5568;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Open+Sans:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=La+Belle+Aurore");
@import "~react-typist/dist/Typist.css";

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transition-all {
  transition: all 0.3s ease-in-out;
}

.typing-cursor {
  color: white !important;
}
